#box{
    border-style: solid;
    border-color: gray;
    width: 100px;
    height: 100px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    align-items: center;
    padding-left: 30%;
 }
#sor{
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 10px;
}