#box{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 4px solid gray;
    margin: 2px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box1{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 4px solid gray;
    margin: 2px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box2{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 4px solid gray;
    margin: 2px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box3{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 4px solid gray;
    margin: 2px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box4{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 4px solid gray;
    margin: 2px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box5{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 4px solid gray;
    margin: 2px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    align-items: center;
    padding-left: 30%;
 }
#sor{
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 10px;
}
.jo{background-color: greenyellow;}
.rossz{background-color: red;}
.hely{background-color: yellow;}